<template>
  <div id="calculator">
    <input type="string" class="calculator-input" v-model="value" @keyup.enter="getResult()">


    <div class="calculator-row">
      <div class="calculator-col">
        <button class="calculator-btn gray action" @click="clear()">C</button>
      </div>
      <div class="calculator-col">
        <button class="calculator-btn gray action" @click="del()" @keyup.delete="del()">del</button>
      </div>
      <div class="calculator-col">
        <button class="calculator-btn gray action" @click="percent">%</button>
      </div>
      <div class="calculator-col">
        <button class="calculator-btn gray action" :disabled="!value" @click="value = value * -1">+ / -</button>
      </div>
      <div class="calculator-col">
        <button class="calculator-btn accent action" @click="addExpresion('/')">÷</button>
      </div>
    </div>
    <div class="calculator-row">
      <div class="calculator-col">
        <button class="calculator-btn" @click="addExpresion('7')">7</button>
      </div>
      <div class="calculator-col">
        <button class="calculator-btn" @click="addExpresion('8')">8</button>
      </div>
      <div class="calculator-col">
        <button class="calculator-btn" @click="addExpresion('9')">9</button>
      </div>
      <div class="calculator-col">
        <button class="calculator-btn gray action" :disabled="!value" @click="radical">√x</button>
      </div>
      <div class="calculator-col">
        <button class="calculator-btn accent action" @click="addExpresion('*')">x</button>
      </div>
    </div>
    <div class="calculator-row">
      <div class="calculator-col">
        <button class="calculator-btn" @click="addExpresion('4')">4</button>
      </div>
      <div class="calculator-col">
        <button class="calculator-btn" @click="addExpresion('5')">5</button>
      </div>
      <div class="calculator-col">
        <button class="calculator-btn" @click="addExpresion('6')">6</button>
      </div>
      <div class="calculator-col">
        <button class="calculator-btn gray action font-21" :disabled="!value" @click="power()">x<sup>2</sup></button>
      </div>
      <div class="calculator-col">
        <button class="calculator-btn accent action" @click="addExpresion('-')">-</button>
      </div>
    </div>
    <div class="calculator-row">
      <div class="calculator-col">
        <button class="calculator-btn" @click="addExpresion('1')">1</button>
      </div>
      <div class="calculator-col">
        <button class="calculator-btn" @click="addExpresion('2')">2</button>
      </div>
      <div class="calculator-col">
        <button class="calculator-btn" @click="addExpresion('3')">3</button>
      </div>
      <div class="calculator-col">
        <button class="calculator-btn gray action" :disabled="!value" @click="division()">1/x</button>
      </div>
      <div class="calculator-col">
        <button class="calculator-btn accent action" @click="addExpresion('+')">+</button>
      </div>
    </div>
    <div class="calculator-row">
      <div class="calculator-col wide">
        <button class="calculator-btn" @click="addExpresion('0')">0</button>
      </div>
      <div class="calculator-col">
        <button class="calculator-btn action" @click="dot">.</button>
      </div>
      <div class="calculator-col">
        <button class="calculator-btn gray action" @click="value = Math.PI.toFixed(10)">π</button>
      </div>
      <div class="calculator-col">
        <button class="calculator-btn accent action" @click="getResult()">=</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data(){
    return{
      value: '0',
    }
  },
  methods:{
    addExpresion(e) {
      if (this.value == '0') {
        this.value = ''
      }
      this.value = this.value + e
    },
    getResult() {
      this.value = eval(this.value);
    },
    clear() {
      this.value = '0';
    },
    del() {
      this.value = this.value.slice(0, -1);
    },
    dot(){
      if (this.value.indexOf('.') === -1) {
        this.value += '.'
      }
    },
    percent(){
      this.value /= 100
    },
    division(){
      this.value = 1/this.value
    },
    power(){
      this.value *= this.value
    },
    radical(){
      this.value = Math.sqrt(this.value)
    }
  }
}
</script>

<style>
*, ::after, ::before {
  box-sizing: border-box;
}
body {
  margin: 0;
  height: 100vh;
  display: flex;
  font-size: 10px;
  align-items: center;
  justify-content: center;
  background-color: #adadad;
}

#calculator {
  width: 100%;
  margin: 0 auto;
  display: flex;
  padding: 0;
  max-width: 375px;
  min-width: 375px;
  flex-direction: column;
  background-color: #2f2f31;
}

.font-21{
  font-size: 21px !important
}
.calculator-logs {
  height: 80px;
  display: flex;
  position: relative;
  overflow: hidden;
  align-items: flex-end;
  flex-direction: column;
  justify-content: flex-end;
}
.calculator-logs:before {
  top: 0;
  left: 0;
  right: 0;
  height: 48px;
  content: '';
  z-index: 5;
  position: absolute;      
  background: linear-gradient(to bottom, #2f2f31, rgba(#2f2f31, 0));
}

.calculator-input {
  color: #D4D4D2;
  width: 100%;
  border: none;
  padding: .8rem;
  display: block;
  font-size: 2.4rem;
  background: none;
  text-align: right;
  font-weight: lighter;
}
.calculator-input:focus,
.calculator-input:active{
  outline: none;
}

.calculator-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding: 0;
  justify-content: space-around;
  border: 1px solid #2f2f31;
  border-top: 0;
}

.calculator-col {
  border-right: 1px solid #2f2f31;
}
.calculator-col:last-child{
  border: none
}
.calculator-col.wide{
  grid-column: 1 / 3;
}

.calculator-btn {
  width: 100%;
  color: #D4D4D2;
  border: none;
  cursor: pointer;
  padding: 20px .8rem;
  outline: none;
  font-size: 1.6rem;
  transition: all .3s ease-in-out;
  font-weight: 200;
  justify-content: center;
  background-color: #616163;
}
.calculator-btn.accent {
  background-color: #f49e3f;
  color: #fff;
}
.calculator-btn.gray {
  background-color: #424345;
}
.calculator-btn:active {
  background-color: #2f2f31;
}
</style>
