body{
  margin: 0;
}
.calculator {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.calc-body {
  width: 85%;
  max-width: 250px;
  height: 375px;
  background-image: linear-gradient(to bottom, #004D59, #012024);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 25px 35px -15px rgba(3, 28, 31, .85);
  /*flex*/
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: space-between;
}
.calc-body-screen {
  flex: 1 0 100%;
  height: 24%;
  color: #A8EEFF;
  box-shadow: inset 0 0 0 1px #225861;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: right;
}
.calc-body-screen .q {
  width: 100%;
  line-height: 40px;
  padding: 0 5%;
  box-sizing: border-box;
  font-size: 15px;
}
.calc-body-screen .a {
  line-height: 50px;
  width: 100%;
  padding: 0 5%;
  box-sizing: border-box;
  font-size: 38px;
}
.calc-body-btn {
  cursor: pointer;
  opacity: .6;
  font-size: 12px;
  flex: 0 1 18%;
  height: 11%;
  color: #A8EEFF;
  box-shadow: inset 0 0 0 1px #225861;
  text-align: center;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.calc-body-btn:hover {
  background-color: #225861;
}
.calc-body-btn.qu {
  height: 23%;
}
.left {
  display: flex;
  flex: 0 0 79.5%;
  height: 23%;
  align-content: space-between;
  justify-content: space-between;
  flex-wrap: wrap;
}
.left .calc-body-btn {
  height: 46%;
  flex: 0 0 23%;
}
.left .calc-body-btn.zero {
  flex: 0 1 48.5%;
}